* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: white;
}

/*DIVS GERAIS*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    background-image: linear-gradient(120deg, #339900 50%, rgb(85, 255, 0) 100%);
    padding: 22px 5% 22px 5%;
}


.logo {
    float: left;
    width: 280px;
    height: 90px;
    background-image: url('../Sabor-e-Castanhas/images/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.menu{
    float: right;
}

.menu li{
    display: inline-block;
    margin: 40px 20px;
}

.menu a{
    padding: 0 15px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.cover-form{
    width: 100%;
    padding: 0;
}

.bg{
    height: 700px;
    background-position: center;
    background-size: cover;
    background-image: url('../Sabor-e-Castanhas/images/nuts.jpg');
}

.form-container{
    float: right;
    margin-right: 40px;
    width: 400px;
    height: 80%;
    position: relative;
    top: 5%;
    background-color: #191a1975;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.form-container h2{
    font-weight: normal;
    padding: 25px 15px;
    color: white;
    font-size: 18px;

    background-color: #191a19a4;
}

.form-container form{
    margin-top: 8px;
    padding: 15px;
}

.form-container form p{
    margin-bottom: 4px;
    font-size: 14px;
    color: white;
}

.form-wrapper:not(:first-child){
    margin-top: 40px;
}

.form-container form input[type=text]{
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.form-container form .form-wrapper p1{
    color: greenyellow;
}

.form-container:last-child{
    margin-top: 20px;
}

.form-container form input[type=submit]{
    width: 100%;
    background-color: #42c700;
    color: #FFF1F1;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    font-size: 17px;
    box-shadow: none;
    border: 0 none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


.form-container form input[type=submit]:hover{
    background-color: #50ec02;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

section.chamada{
    z-index: 1;
    padding: 50px 0;
    width: 100%;
    position: relative;
    top: -50px;
    text-align: center;

}

section.chamada .container{
    padding: 50px 0 80px 0;
    background-color: #42c700;
}

section.chamada h2{
    width: 96%;
    max-width: 700px;
    display: inline-block;
    color: #FFF1F1;
    font-size: 46px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

section.chamada h3{
    color: #FFF1F1;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.arrow {
    z-index: 2;
    position: relative;
    top: -160px;
    left: 47%;
    width: 120px;
    height: 120px;
    background-image: url('../Sabor-e-Castanhas/images/logo-1.png');
    background-size: 100% 100%;
}

.section-1 {
    padding: 0 2% 70px 2%;
}

.section-1 h2{
    top: -30px;
    padding-bottom: 40px;
    text-align: center;
    color: #191A19;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.container-section {
    margin-top: 30px;
    text-align: center;
}

.container-single {
    float: left;
    width: 33.333%;
    padding: 30px;
}

.container-single p{
    display: inline-block;
    text-align: justify;
    padding: 10px 25px;
}

.container-single img {
    background-image: url('../Sabor-e-Castanhas/images/foto-1.jpg');
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 9px solid #339900;
}


@media screen and (max-width: 510px){
    header{
        text-align: center;

    }

    [class^="logo"]{
        margin-top:10px;
        display: inline-block;
        float: none;
    }

    [class^="menu"]{
        margin-top:10px;
        display: inline-block;
        float: none;
    }


}
/*******************************************************************/